<%- contentFor('content') %>

<div class="table-responsive">
  <h1>POSTE 1</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Semaine</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lundi</td>
        <% userPlaning.forEach(userPlanings => { %>
          <td class="cr1">
           <%= userPlanings.user %> de <%= userPlanings.creneau %>
          </td>
        <% }) %> 
      </tr>
      <tr>
        <td>Mardi</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
      <tr>
        <td>Mercredi</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Jeudi</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Vendredi</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> 
    </tbody>
  </table>
</div>

<form method="post" action="/data" id="donnees">
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4">
      <!--  -->
      <div class="col-lg-7">
        <label for="listes visiteurs">Listes des visiteurs</label>
        <select class="btn btn-default col-lg-12" name="users" form="donnees">
          <% users.forEach(user => { %>
            <option class="" name="listesUsers" value="<%= user.name %>">
              <%= user.name %>
            </option>
          <% }) %>
        </select>
      </div>

      <div class="col-lg-7">
        <label for="listes visiteurs">Créneaux</label>
        <select class="btn btn-default col-lg-12" name="creneau" form="donnees">
          <% creneau.forEach(creneau => { %>
            <option class="" name="listesUsers" value="<%= creneau.creneau %>">
              <%= creneau.creneau %>
            </option>
            <% }) %>
        </select>
      </div>

      <div class="col-lg-7">
        <label for="listes visiteurs">Jour</label>
        <select class="btn btn-default col-lg-12" name="jour" form="donnees">
          <% week.forEach(jour => { %>
            <option class="" name="listesUsers" value="<%= jour.jour %>">
              <%= jour.jour %>
            </option>
            <% }) %>
        </select>
      </div>
    
    </div>
  </div>
  <input type="text" hidden value="poste1" name="poste1">
  <div class="col-lg-12">
    <button type="submit" class="btn btn-info">RÉSERVER</button>
  </div>
</form>
<script>

</script>
