<%- contentFor('content') %>
  <div class="container">
    <% if(admin) { %>
      <!-- inclu la parti planning si la personne c'est bien connecté -->
      <%- include ../includes/menu %>
      <%- include ../includes/planningPoste3 %>
      <%- include ../includes/addUser %>

      <!-- SINON -->
    <% } else { %>
      <!-- inclu la parti admin avec le formulaire si la personne n'est pas connect -->
      <%- include admin %>
    <% } %>
  </div>