<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>layout</title>
</head>
<body>
  <header>
    <%- defineContent('menu') %>
  </header>
  
  <div class="container-fluid"><%- defineContent('content') %></div>
  <div class="container-fluid"><%- defineContent('poste1') %></div>
  <div class="container-fluid"><%- defineContent('poste2') %></div>
  <div class="container-fluid"><%- defineContent('poste3') %></div>
  <div class="container-fluid"><%- defineContent('poste4') %></div>
  <div class="container-fluid"><%- defineContent('poste5') %></div>
  <div class="container-fluid"><%- defineContent('addUser') %></div>
  
  <footer></footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>